// bootstrap default 

$primary: #007BFF;
$secondary: #6C757D; 
$danger: #DC3545;
$success: #28A745;
$warning: #FFC108;

// app default

$xlightgrey: #C7C6C7;
$lightgrey: #888789;
$darkgrey: #555555;
$dark: #2B282E;
$white: #FFFFFF;

// media breakpoints

$tablet-break: 760px;
$laptop-break: 1020px;
$desktop-break: 1200px;
