// bootstrap default 

$primary: #007BFF;
$secondary: #6C757D; 
$danger: #DC3545;
$success: #28A745;
$warning: #FFC108;

// app default

$lightgrey: #777777;
$darkgrey: #555555;
$white: #FFFFFF;
$upperFooter: #2B282E;
$lowerFooter: #1BB05F;

// media breakpoints

$tablet-break: 720px;
$laptop-break: 1020px;
$desktop-break: 1200px;
