.c-contact {

  &__message {
    max-width: 1000px;
    margin: auto;
    text-align: left;
    color: $lightgrey;
    line-height: 1.6;
    padding: 1em;

    &--title {
      padding: .5em 0;
      font-size: 17px;
      font-weight: 400;
    }
    &--inset {
      padding: .5em 0;
      text-align: justify;
      font-size: 16px;
      font-weight: 100;
    }
  }
}

@media screen and (min-width: $desktop-break) {
  .c-contact__message {
    padding: 1em 0;
  }
}