.c-footer__container {
  max-width: 100%;
  background: $dark;
}

.c-container {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
}

.light {
  background: $xlightgrey;
}

@media screen and (min-width: $desktop-break) {
  .c-container {
    padding: 1em 0;
  }
}