.c-gallery {
  width: 100%;
  height: auto;
  position: relative;
  margin: 1em 0;
  overflow: hidden;

  &__grid {
    &-container {
      height: auto;
      display: grid;
      grid-template-areas:
        'item1'
        'item2'
        'item3'
        'item4'
        'item5'
        'item6';
      grid-gap: .5em;
      padding: 1em;
    }

    &-item {
      background-size: cover;
      text-align: center;
      height: 50vh;

      &--button {
        position: relative;
        width: 60px; 
        height: 150px;
        color: $white;
        padding-left: 5%;
      
        svg {
          z-index: 1;
        }
      
        &__text {
          width: 100%;
          z-index: 2;
          position: absolute;
          top: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 60px;
          cursor: pointer;
      
          span {
            padding: 2px 0;
            font-size: 12px;
          }
        }
      }
    }

    &-item1 { 
      grid-area: item1; 
      background: url("/static/brochure.jpg");
    }
    &-item2 { 
      grid-area: item2; 
      background: url("/static/register-interest.jpg");
    }
    &-item3 { 
      grid-area: item3;
      background: url("/static/finance-calculator.jpg");
    }
    &-item4 { 
      grid-area: item4; 
      background: url("/static/find-retailer.jpg");
    }
    &-item5 { 
      grid-area: item5;
      background: url("/static/discover-id.jpg");
    }
    &-item6 { 
      grid-area: item6;
       background: url("/static/motorbility.jpg");
    }
  }
} 

@media screen and (min-width: $tablet-break) {
  .c-gallery {

    &__grid {
      &-container {
        height: 120vh;
        grid-template-areas:
        'item1 item2'
        'item3 item4'
        'item5 item6';
        grid-gap: 1em;
        padding: 2em;
      }

      &-item {
        background-size: cover;
        text-align: center;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: $laptop-break) {
  .c-gallery {

    &__grid {
      &-container {
        grid-template-areas:
          'item1 item3 item5'
          'item1 item3 item5'
          'item1 item4 item5'
          'item2 item4 item5'
          'item2 item4 item6'
          'item2 item4 item6';  
      }
    }
  }
}