.c-our-service {
  width: 100%;
  height: auto;
  margin: auto;
  background: $xlightgrey;
  color: $darkgrey;
  margin-bottom: 2em;

  &__head {
    font-size: 24px;
    text-transform: uppercase;

    h4 {
      font-weight: 400;
    }
  }

  &__line {
    padding: 1em 0;
  }

  &__main {
    display: grid;
    grid-template-columns: auto;
    
    &--item {
      display: grid;
      grid-template-columns: 50px auto;
      padding: 1em 0;
      grid-gap: .6em;
      line-height: 135%;

      &-image {
        span {
          font-size: 40px;
          color: $success;
        }
      }

      &-main {
        &__title {
          font-size: 16px;
          text-transform: uppercase;
        }
        &__description {
          padding-top: .2em;
          font-weight: 100;
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet-break) {
  .c-our-service__main {
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
  }
}
