.c-form__container {
  max-width: 800px;
  margin: auto;
  padding-top: 18vh;
  height: 80vh;
}

.c-form__message {
  display: none;
}

.c-signup {
  &__form {
    color: $white;
    
    &--field {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 30vh;

      &-label {
        font-size: 36px;
        -webkit-text-stroke: 1px black;
      }
 
      &-input {
        width: 100%;
        max-width: 300px;
        padding: 6px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        resize: vertical;
      }
    }

    &--submit {
      height: 20vh;
      display: flex;
      
      &-btn {
        cursor: pointer;
        background: $button;
        border-radius: 20px;
        padding: .5em 2em;
        font-size: 14px;
        color: white;
        position: relative;
        border: none;
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: 920px) {

  .c-form__container {
    max-width: 750px;
    margin: auto;
    padding-top: 18vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .c-form__message {
    display: block;
    color: $white;
    height: 50vh;

    p {
      font-size: 24px;
      line-height: 1.5;
      word-spacing: 5px;
      letter-spacing: 2px;
    }
  }

  .c-signup {
    &__form {
      
      &--field {
        align-items: flex-start;
        justify-content: flex-start;
        height: 40vh;
  
        &-label {
          font-size: 50px;
          font-weight: 800;
        }
   
        &-input {
          padding: 8px;
          margin-top: 2em;
        }
      }
  
      &--submit {
        height: 10vh;
        display: block;
        
        &-btn {
          font-size: 16px;
        }
      }
    }
  }
}